.container {
    padding: 30px;
    font-family: Arial, sans-serif;
  }
  
  .title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }

  .create-button img.button-icon {
    width: 25px; 
    height: 25px;
  }
  
  .create-button {
    background-color: #2F3061;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .create-button:hover {
    background-color: #2b2ecf;
  }
  
  .table-container {
    border-radius: 10px;
    overflow-y: auto;
    border: 1px solid #ccc;
    margin-top: 20px;
    max-height: 450px;
  }
  .event-table thead {
    position: sticky;
    top: 0;
    background-color: #f2f2f2; /* Optional: change the background color of the header */
    z-index: 1; /* Ensures the header stays on top of the scrollable body */
  }
  
  .event-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .event-table th, .event-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  .event-table th {
    background-color: #e5e7eb;
  }
  
  .event-table tr:nth-child(even) {
    background-color: #f3f4f6;
  }
  
  .action-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  
  .action-button {
    background-color: #2F3061;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .action-button:hover {
    background-color: #2b2ecf;
  }

  .action-button img.button-icon {
    width: 25px; 
    height: 25px;
  }

  